<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>상품 데이터 출력 예제</h1>

<table border="1">
    <thead>
    <tr>
        <td>순번</td>
        <td>상품명</td>
        <td>가격</td>
        <td>상품등록일</td>
    </tr>
    </thead>
    <tbody>
    <!--th:each를 이용하면 자바의 for문 같은 반복문을 사용할 수 있다.
        전달받은 itemDtoList에 있는 data를 하나씩 꺼내와서 itemDto에 넣어준다.
        status에는 현재 반복에 대한 상태 데이터가 존재. 변수명은 다르게 해도 됨.-->
    <tr th:each="itemDto, status: ${itemDtoList}">
        <td th:text="${status.index}"></td> <!-- 현재 순회하고 있는 데이터의 인덱스를 출력-->
        <td th:text="${itemDto.itemNm}"></td>
        <td th:text="${itemDto.itemDetail}"></td>
        <td th:text="${itemDto.regTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>